<!-- Loop over each object in the projects array -->
  <h5 class="card text d-flex justify-content-center container-fluid">
    Welcome to Sound Byte! The website for new and underground artists to share music with their fellow musicians. Create a free profile and begin 
    to upload your tracks today. Explore other artists and their tracks in your feed and our daily stream. Find new music and artists you've never heard before 
    right here on Sound Byte. 
</h5>
<h3 class="text-center mb-4 mt-2 user-select-none">Feed</h3>
{{#each posts as |post|}}
<div class="container-fluid d-flex justify-content-center px-4">
{{> post-data post }}
</div>



{{else}}
<h6 class="pb-4">:C</h6>
{{/each}}
