<div class="">
    <h2 class="title d-flex justify-content-center mb-0 pb-2 pt-3 user-select-none">Login</h2>
    <form class="container-fluid m-auto" id="loginForm">
      <div class="mb-3 m-auto form-size">
        <label for="email-login" class="form-label user-select-none">Email</label>
        <input class="form-control" type="text" id="email-login" placeholder="elfo@example.com"/>
      </div>
      <div class="mb-3 m-auto form-size">
        <label for="password-login" class="form-label user-select-none">Password</label>
        <input class="form-control mb-4" type="password" id="password-login" />
        <button class="btn btn-primary mb-4">Login</button>
        <a href="/signup"><button class="btn btn-secondary mb-4" type="button">Sign Up</button></a>
      </div>
    </form>
</div>

<script src="./js/login.js"></script>
