
  <h2 class='title d-flex justify-content-center mb-0 pb-2 pt-3 user-select-none'>Sign Up</h2>
  <form class='container-fluid m-auto' id="signupForm">
    <div class='mb-3 m-auto form-size'>
      <label for='name-signup' class='form-label user-select-none'>Username</label>
      <input
        class='form-control'
        type='text'
        id='name-signup'
        placeholder='Elfo'
      />
    </div>
    <div class='mb-3 m-auto form-size'>
      <label for='email-signup' class='form-label user-select-none'>Email</label>
      <input
        class='form-control'
        type='text'
        id='email-signup'
        placeholder='elfo@example.com'
      />
    </div>
    <div class='mb-3 m-auto form-size'>
      <label for='password-signup' class='form-label user-select-none'>Password</label>
      <input class='form-control mb-4' type='password' id='password-signup' />
      <button class='btn btn-primary mb-4'>Sign Up</button>
    </div>
  </form>

<script src="./js/signup.js"></script>